$primary: #3498DB;

@import "~bootstrap/scss/bootstrap";

body {
  background-color: white;
}

a.card {
  text-decoration: none;
  color: black;
}

a.Artistique {
  background-color: #F1948A;
}

a.Journalisme {
  background-color: $primary;
}

a.Administratif {
  background-color: #76D7C4;
}

a.E-Sport {
  background-color: #BB8FCE;
}

a.Evenementiel {
  background-color: #F5B041;
}