{% extends 'base.html.twig' %}

{% block title %}Nouvel album{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un nouvel album photo</h1>

    {{ include('album/_form.html.twig') }}

    <a href="{{ path('album_index') }}" role="button">&larr; Retourner à la liste</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/upload.js') }}"></script>
{% endblock %}